html,
body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color: rgb(38, 43, 51);
    color: rgba(38, 43, 51, 1);
}

a {
    text-decoration: none;
}

.container {
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.row {
    height: 4em;
    padding-right: 2.5em;
    padding-left: 2.5em;
}


/* NAVBAR */

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 4em;
    margin-bottom: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: #458AFF;
}

.navbar a {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, .5);
}

.active {
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    text-decoration: none;
    color: #fff;
}

.navbar .navbar-logo {
    font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    float: left;
    color: #fff;
}

.navbar-logo img {
    display: inline;
    max-width: 4rem;
    padding-right: 16px;
    vertical-align: -35%;
}

.navbar .navbar-logo .mega-octicon {
    float: left;
    margin-right: .5rem;
}

.navbar-nav {
    font-size: 1rem;
    float: right;
    margin-top: .5rem;
}

.navbar-nav a {
    display: inline-block;
}

.navbar-nav a:not(:last-child) {
    margin-right: 1.25rem;
}

.navbar-nav .active {
    font-weight: 500;
    color: #fff;
}

.navbar-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}


/* !NAVBAR */

.jumbotron {
    font-size: 1.5em;
    padding-top: 6em;
    padding-bottom: 8em;
    text-align: center;
    color: #fff;
    background-color: #458AFF;
}

.jumbotron-hero {
    height: 100%;
}

.jumbotron h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: #f4f4f4;
}

.logo {
    width: 30%;
}

.down-arrow {
    position: absolute;
    top: 90%;
    left: 48.75%;
}

main {
    line-height: 1.5;
    padding-top: 4em;
    padding-bottom: 4em;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

.model {
    width: 100%;
}

figure {
    margin: 0;
}


/* Sections */

.section {
    height: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section:nth-child(1) {
    margin-top: 0;
    padding-top: 0;
}

.section:nth-child(even) {
    color: #f4f4f4;
    background-color: #262b33;
}


/* Forms */

input:not([type]):focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=time]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.form-input {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: 3rem;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    color: #555;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

#message {
    height: auto;
}

.form-input:focus {
    border-bottom: 1px solid #458aff;
    box-shadow: 0 1px 0 0 #458aff;
}

.button {
    font-size: 1rem;
    font-weight: normal;
    line-height: 2.2rem;
    display: inline-block;
    width: 100%;
    height: 3.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    background: rgb(242, 79, 19);
}
