body {
    /*min-height: 2000px;*/
    padding-top: 70px;
}

main p {
	font-size: 20;
}

.jumboImage {
	height: 70%;
	width: 100%;
	margin-bottom: 32px;
}

.jumboTitle {
	text-align: center;
}

.jumbotron {
	padding: 32px;
}

footer {
	background-color: #f8f8f8;
    border-color: #e7e7e7;
    bottom: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e7e7e7;
}

footer p {
	padding: 0;
	margin: 0;
	text-align: center;
}