html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color: rgb(38,43,51);
    color: rgba(38,43,51,1);
}

a {
    text-decoration: none;
}

.container {
    width: auto;
    max-width: 1000px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0 auto;
}

.row {
    height: 4em;
    padding-right: 2.5em;
    padding-left: 2.5em;
}


/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 4em;
    margin-bottom: 1.5em;
    text-align: left;
    background-color: #EF5350;
}

.navbar a {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.5);
}

.active {
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    color: #fff;
    text-decoration: none
}

.navbar .navbar-logo {
    font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
    float: left;
    display: inline-block;
    font-size: 1.5rem;
    color: #fff
}

.navbar .navbar-logo .mega-octicon {
    float: left;
    margin-right: .5rem
}

.navbar-nav {
    float: right;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.navbar-nav a {
    display: inline-block
}

.navbar-nav a:not(:last-child) {
    margin-right: 1.25rem
}

.navbar-nav .active {
    color: #fff;
    font-weight: 500
}

/* !NAVBAR */

.jumbotron {
    margin-bottom: 3em;
    padding-top: 6em;
    padding-bottom: 8em;
    /*height: 100%;*/
    background-color: #EF5350;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.jumbotron-hero {
    height: 100%;
}

.jumbotron h1 {
    color: #f4f4f4;
    font-size: 2.5em;
    font-weight: 400;
}

.down-arrow {
    position: absolute;
    left: 48.75%;
    top: 90%;
    opacity: 0.5;
}

main {
    padding-top: 4em;
    padding-bottom: 4em;
    line-height: 1.5;
}

main h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

.model {
    width: 100%;
}
